<a href="https://colab.research.google.com/github/pranavgautam29/ml-projects/blob/main/advanced_house_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [ ]:
data = pd.read_csv('train.csv')

In [ ]:
data.head(10)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000
5   6          50       RL  ...        WD         Normal    143000
6   7          20       RL  ...        WD         Normal    307000
7   8          60       RL  ...        WD         Normal    200000
8   9          50       RM  ...        WD        Abnorml    129900
9  10         190       RL  ...        WD         Normal    118000

[10 rows x 81 columns]

In [ ]:
data.shape

(1460, 81)

In [ ]:
data.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [ ]:
data['HouseStyle'].value_counts()

1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: HouseStyle, dtype: int64

In [ ]:
data.select_dtypes(include='int').isna().sum()

Id               0
MSSubClass       0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SalePrice        0
dtype: int64

In [ ]:
data.select_dtypes(include='object').isnull().sum()

MSZoning            0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinType2       38
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
FireplaceQu       690
GarageType         81
GarageFinish       81
GarageQual         81
GarageCond         81
PavedDrive          0
PoolQC           1453
Fence            1179
MiscFeature      1406
SaleType            0
SaleCondition       0
dtype: int64

In [ ]:
drop_cols = ['Alley','PoolQC','Fence','MiscFeature','FireplaceQu']
data.drop(drop_cols,axis=1,inplace=True)

In [ ]:
data.select_dtypes(include='object').isnull().sum()

MSZoning          0
Street            0
LotShape          0
LandContour       0
Utilities         0
LotConfig         0
LandSlope         0
Neighborhood      0
Condition1        0
Condition2        0
BldgType          0
HouseStyle        0
RoofStyle         0
RoofMatl          0
Exterior1st       0
Exterior2nd       0
MasVnrType        8
ExterQual         0
ExterCond         0
Foundation        0
BsmtQual         37
BsmtCond         37
BsmtExposure     38
BsmtFinType1     37
BsmtFinType2     38
Heating           0
HeatingQC         0
CentralAir        0
Electrical        1
KitchenQual       0
Functional        0
GarageType       81
GarageFinish     81
GarageQual       81
GarageCond       81
PavedDrive        0
SaleType          0
SaleCondition     0
dtype: int64

In [ ]:
data.select_dtypes(include='float').isnull().sum()

LotFrontage    259
MasVnrArea       8
GarageYrBlt     81
dtype: int64

In [ ]:
data.select_dtypes

<bound method DataFrame.select_dtypes of         Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 76 columns]>

In [ ]:
# selecting all the integer columns from dataset
int_features = [i for i in data.columns if data.dtypes[i]=='int']

In [ ]:
int_features

['Id',
 'MSSubClass',
 'LotArea',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'TotRmsAbvGrd',
 'Fireplaces',
 'GarageCars',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SalePrice']

In [ ]:
# selecting all the categorical columns
cat_features = [i for i in data.columns if data.dtypes[i]=='object']
cat_features

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [ ]:
float_features = [i for i in data.columns if data.dtypes[i]=='float']
float_features

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [ ]:
len(cat_features) + len(int_features) + len(float_features)

76

In [ ]:
for col in float_features:

  data[col].fillna(data[col].mean(),inplace=True)

In [ ]:
data.select_dtypes(include='float').isnull().sum()

LotFrontage    0
MasVnrArea     0
GarageYrBlt    0
dtype: int64

In [ ]:
for col in cat_features:
  if data[col].isna().sum() != 0:
    mode = str(data[col].mode())
    data[col].fillna(mode,inplace=True)
data.select_dtypes(include='object').isnull().sum()

MSZoning         0
Street           0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinType2     0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
KitchenQual      0
Functional       0
GarageType       0
GarageFinish     0
GarageQual       0
GarageCond       0
PavedDrive       0
SaleType         0
SaleCondition    0
dtype: int64

In [ ]:
le = LabelEncoder()

In [ ]:
for col in cat_features:
  data[col] = le.fit_transform(data[col])
  print(le.classes_)

['C (all)' 'FV' 'RH' 'RL' 'RM']
['Grvl' 'Pave']
['IR1' 'IR2' 'IR3' 'Reg']
['Bnk' 'HLS' 'Low' 'Lvl']
['AllPub' 'NoSeWa']
['Corner' 'CulDSac' 'FR2' 'FR3' 'Inside']
['Gtl' 'Mod' 'Sev']
['Blmngtn' 'Blueste' 'BrDale' 'BrkSide' 'ClearCr' 'CollgCr' 'Crawfor'
 'Edwards' 'Gilbert' 'IDOTRR' 'MeadowV' 'Mitchel' 'NAmes' 'NPkVill'
 'NWAmes' 'NoRidge' 'NridgHt' 'OldTown' 'SWISU' 'Sawyer' 'SawyerW'
 'Somerst' 'StoneBr' 'Timber' 'Veenker']
['Artery' 'Feedr' 'Norm' 'PosA' 'PosN' 'RRAe' 'RRAn' 'RRNe' 'RRNn']
['Artery' 'Feedr' 'Norm' 'PosA' 'PosN' 'RRAe' 'RRAn' 'RRNn']
['1Fam' '2fmCon' 'Duplex' 'Twnhs' 'TwnhsE']
['1.5Fin' '1.5Unf' '1Story' '2.5Fin' '2.5Unf' '2Story' 'SFoyer' 'SLvl']
['Flat' 'Gable' 'Gambrel' 'Hip' 'Mansard' 'Shed']
['ClyTile' 'CompShg' 'Membran' 'Metal' 'Roll' 'Tar&Grv' 'WdShake'
 'WdShngl']
['AsbShng' 'AsphShn' 'BrkComm' 'BrkFace' 'CBlock' 'CemntBd' 'HdBoard'
 'ImStucc' 'MetalSd' 'Plywood' 'Stone' 'Stucco' 'VinylSd' 'Wd Sdng'
 'WdShing']
['AsbShng' 'AsphShn' 'Brk Cmn' 'BrkFace' 'CBlock' 'CmentBd' 'HdBoard'
 'ImStucc' 'MetalSd' 'Other' 'Plywood' 'Stone' 'Stucco' 'VinylSd'
 'Wd Sdng' 'Wd Shng']
['0    None\nName: MasVnrType, dtype: object' 'BrkCmn' 'BrkFace' 'None'
 'Stone']
['Ex' 'Fa' 'Gd' 'TA']
['Ex' 'Fa' 'Gd' 'Po' 'TA']
['BrkTil' 'CBlock' 'PConc' 'Slab' 'Stone' 'Wood']
['0    TA\nName: BsmtQual, dtype: object' 'Ex' 'Fa' 'Gd' 'TA']
['0    TA\nName: BsmtCond, dtype: object' 'Fa' 'Gd' 'Po' 'TA']
['0    No\nName: BsmtExposure, dtype: object' 'Av' 'Gd' 'Mn' 'No']
['0    Unf\nName: BsmtFinType1, dtype: object' 'ALQ' 'BLQ' 'GLQ' 'LwQ'
 'Rec' 'Unf']
['0    Unf\nName: BsmtFinType2, dtype: object' 'ALQ' 'BLQ' 'GLQ' 'LwQ'
 'Rec' 'Unf']
['Floor' 'GasA' 'GasW' 'Grav' 'OthW' 'Wall']
['Ex' 'Fa' 'Gd' 'Po' 'TA']
['N' 'Y']
['0    SBrkr\nName: Electrical, dtype: object' 'FuseA' 'FuseF' 'FuseP'
 'Mix' 'SBrkr']
['Ex' 'Fa' 'Gd' 'TA']
['Maj1' 'Maj2' 'Min1' 'Min2' 'Mod' 'Sev' 'Typ']
['0    Attchd\nName: GarageType, dtype: object' '2Types' 'Attchd'
 'Basment' 'BuiltIn' 'CarPort' 'Detchd']
['0    Unf\nName: GarageFinish, dtype: object' 'Fin' 'RFn' 'Unf']
['0    TA\nName: GarageQual, dtype: object' 'Ex' 'Fa' 'Gd' 'Po' 'TA']
['0    TA\nName: GarageCond, dtype: object' 'Ex' 'Fa' 'Gd' 'Po' 'TA']
['N' 'P' 'Y']
['COD' 'CWD' 'Con' 'ConLD' 'ConLI' 'ConLw' 'New' 'Oth' 'WD']
['Abnorml' 'AdjLand' 'Alloca' 'Family' 'Normal' 'Partial']

In [ ]:
data.head()

   Id  MSSubClass  MSZoning  ...  SaleType  SaleCondition  SalePrice
0   1          60         3  ...         8              4     208500
1   2          20         3  ...         8              4     181500
2   3          60         3  ...         8              4     223500
3   4          70         3  ...         8              0     140000
4   5          60         3  ...         8              4     250000

[5 rows x 76 columns]

In [ ]:
y = data['SalePrice']
X = data.drop(['SalePrice','Id'],axis=1)

   MSSubClass  MSZoning  LotFrontage  ...  YrSold  SaleType  SaleCondition
0          60         3         65.0  ...    2008         8              4
1          20         3         80.0  ...    2007         8              4
2          60         3         68.0  ...    2008         8              4
3          70         3         60.0  ...    2006         8              0
4          60         3         84.0  ...    2008         8              4

[5 rows x 74 columns]

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,
                                                 test_size=0.2,
                                                 random_state=10)

In [ ]:
Rf_model = RandomForestRegressor()
Xg_model = XGBRegressor()
Dt_model = DecisionTreeRegressor()

In [ ]:
Rf_model.fit(X_train,y_train)
Xg_model.fit(X_train,y_train)
Dt_model.fit(X_train,y_train)

DecisionTreeRegressor()

In [ ]:
Rf_pred = Rf_model.predict(X_test)
Xg_pred = Xg_model.predict(X_test)
Dt_pred = Dt_model.predict(X_test)

In [ ]:
mean_absolute_error(Rf_pred,y_test)

18707.273356164384

In [ ]:
mean_absolute_error(Xg_pred,y_test)

16854.073643514555

In [ ]:
mean_absolute_error(Dt_pred,y_test)

25148.62671232877

In [ ]:
test_df = pd.read_csv('test.csv')
test_ids = test_df['Id']

In [ ]:
test_df.head()

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal
2  1463          60       RL  ...    2010        WD        Normal
3  1464          60       RL  ...    2010        WD        Normal
4  1465         120       RL  ...    2010        WD        Normal

[5 rows x 80 columns]

In [ ]:
int_test_features = [i for i in test_df.columns if test_df.dtypes[i]=='int']
int_test_features

['Id',
 'MSSubClass',
 'LotArea',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'TotRmsAbvGrd',
 'Fireplaces',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold']

In [ ]:
test_df.select_dtypes(include='int').isna().sum()

Id               0
MSSubClass       0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
dtype: int64

In [ ]:
test_df.drop(['Id'],axis=1,inplace=True)

In [ ]:
test_df.select_dtypes(include='object').isna().sum()

MSZoning            4
Street              0
Alley            1352
LotShape            0
LandContour         0
Utilities           2
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         1
Exterior2nd         1
MasVnrType         16
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           44
BsmtCond           45
BsmtExposure       44
BsmtFinType1       42
BsmtFinType2       42
Heating             0
HeatingQC           0
CentralAir          0
Electrical          0
KitchenQual         1
Functional          2
FireplaceQu       730
GarageType         76
GarageFinish       78
GarageQual         78
GarageCond         78
PavedDrive          0
PoolQC           1456
Fence            1169
MiscFeature      1408
SaleType            1
SaleCondition       0
dtype: int64

In [ ]:
test_df.drop(drop_cols,axis=1,inplace=True)

In [ ]:
test_df.shape

(1459, 74)

In [ ]:
for col in cat_features:
  if test_df[col].isna().sum() != 0:
    mode = str(test_df[col].mode())
    test_df[col].fillna(mode,inplace=True)
test_df.select_dtypes(include='object').isnull().sum()

MSZoning         0
Street           0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinType2     0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
KitchenQual      0
Functional       0
GarageType       0
GarageFinish     0
GarageQual       0
GarageCond       0
PavedDrive       0
SaleType         0
SaleCondition    0
dtype: int64

In [ ]:
float_test_df = [i for i in test_df.columns if test_df.dtypes[i]=='float']
for col in float_test_df:
  test_df[col].fillna(test_df[col].mean(),inplace=True)
test_df.select_dtypes(include='float').isnull().sum()

LotFrontage     0
MasVnrArea      0
BsmtFinSF1      0
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
BsmtFullBath    0
BsmtHalfBath    0
GarageYrBlt     0
GarageCars      0
GarageArea      0
dtype: int64

In [ ]:
for col in cat_features:
  test_df[col] = le.fit_transform(test_df[col])

test_df.head(10)

   MSSubClass  MSZoning  LotFrontage  ...  YrSold  SaleType  SaleCondition
0          20         3    80.000000  ...    2010         9              4
1          20         4    81.000000  ...    2010         9              4
2          60         4    74.000000  ...    2010         9              4
3          60         4    78.000000  ...    2010         9              4
4         120         4    43.000000  ...    2010         9              4
5          60         4    75.000000  ...    2010         9              4
6          20         4    68.580357  ...    2010         9              4
7          60         4    63.000000  ...    2010         9              4
8          20         4    85.000000  ...    2010         9              4
9          20         4    70.000000  ...    2010         9              4

[10 rows x 74 columns]

In [ ]:
submission_pred = Xg_model.predict(test_df)

In [ ]:
df = pd.DataFrame({'Id':test_ids.values,
                   'SalePrice':submission_pred})

In [ ]:
df.to_csv('submission.csv',index=False)